<div>

  <div flex-container="row">
    <div id="progress"></div>
  </div>

  <div flex-container="row", flex-gutter="8">
    <div flex-item="3">
      <div class="card p+">
        <!-- <i class="icon icon--m icon--grey icon--flat mdi mdi-calendar-clock"></i> &nbsp; -->
        <span class="fs-title tc-grey">ประวัติรับบริการ</span>
        <div class="divider divider--dark"></div>

        <ul class="list mt++">
          <li class="list-row list-row--has-separator" ng-repeat="s in services">
            <div class="list-row__content">
              <span class="display-block">{{ s.date_serv | toThaiDate }}</span>
              <span class="display-block fs-body-1 tc-black-2">
                {{ s.hospcode }} - {{ s.hospname }}
              </span>
            </div>
            <div class="list-row__secondary">
              <button class="btn btn--grey btn--icon btn--l" lx-ripple
              ng-click="getServiceDetail(s.hospcode, s.hn, s.date_serv, s.seq)">
                <i class="mdi mdi-monitor"></i>
              </button>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <div flex-item="9">
      <div flex-container="row" style="padding-bottom: 8px;">
        <div flex-item>
          <div class="card p+">
            <i class="icon icon--m icon--grey icon--flat mdi mdi-account-location"></i> &nbsp;
            <span class="fs-title tc-grey">ข้อมูลทั่วไป [HOSxP]</span>
            <div class="divider divider--dark"></div>

            <div flex-container="row" flex-gutter="24">
              <div flex-item="5">
                <lx-text-field label="ชื่อ-สกุล">
                  <input type="text" ng-model="fullname" ng-disabled="true">
                </lx-text-field>
              </div>
              <div flex-item="3">
                <lx-text-field label="วันเกิด">
                  <input type="text" ng-model="birth" ng-disabled="true">
                </lx-text-field>
              </div>
              <div flex-item="2">
                <lx-text-field label="อายุ (ปี)">
                  <input type="text" ng-model="age" ng-disabled="true">
                </lx-text-field>
              </div>
              <div flex-item="2">
                <lx-text-field label="เพศ">
                  <input type="text" ng-model="sex" ng-disabled="true">
                </lx-text-field>
              </div>
            </div>

            <div flex-container="row" flex-gutter="8">
              <div flex-item="8">
                <lx-text-field label="ที่อยู่">
                  <input type="text" ng-model="address" ng-disabled="true">
                </lx-text-field>
              </div>
              <div flex-item="4">
                <lx-text-field label="ประเภทบุคคล">
                  <input type="text" ng-model="typearea" ng-disabled="true">
                </lx-text-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div flex-container="row" style="padding-bottom: 10px;" ng-show="isShowService">
        <div flex-item>
          <div class="card p+">
            <i class="icon icon--m icon--grey icon--flat mdi mdi-comment-plus-outline"></i> &nbsp;
            <span class="fs-title tc-grey">ข้อมูลการรับบริการ [CLOUD]</span>
            <div class="divider divider--dark"></div>

            <br>

          </div>
        </div>
      </div> -->

      <div flex-container="row" ng-show="isShowService">
        <div flex-item class="card p+">
          <br>
          <i class="icon icon--m icon--grey icon--flat mdi mdi-monitor"></i> &nbsp;
          <span class="fs-title tc-grey">กิจกรรมการบริการ</span>
          <div class="divider divider--dark"></div>

          <!-- tabs -->
          <lx-tabs indicator="indigo-500" layout="inline">
            <lx-tab heading="ข้อมูลรับบริการ">
              <div flex-container="row" flex-gutter="8">
                <div flex-item="3">
                  <lx-text-field label="รหัส">
                    <input type="text" ng-model="hospcode" ng-disabled="true">
                  </lx-text-field>
                </div>
                <div flex-item="9">
                  <lx-text-field label="ชื่อหน่วยบริการ">
                    <input type="text" ng-model="hospname" ng-disabled="true">
                  </lx-text-field>
                </div>
              </div>
              <div flex-container="row" flex-gutter="8">
                <div flex-item="6">
                  <lx-text-field label="มาด้วยอาการ">
                    <input type="text" ng-model="cc" ng-disabled="true">
                  </lx-text-field>
                </div>
                <div flex-item="2">
                  <lx-text-field label="น้ำหนัก(กก.)">
                    <input type="text" ng-model="weight" ng-disabled="true">
                  </lx-text-field>
                </div>
                <div flex-item="2">
                  <lx-text-field label="ส่วนสูง(ซม.)">
                    <input type="text" ng-model="height" ng-disabled="true">
                  </lx-text-field>
                </div>
                <div flex-item="2">
                  <lx-text-field label="ความดัน">
                    <input type="text" ng-model="bp" ng-disabled="true">
                  </lx-text-field>
                </div>
              </div>
            </lx-tab>
            <lx-tab heading="การวินิจฉัย">
              <table class="data-table">
                <thead>
                  <tr class="data-table__selectable-row">
                    <th></th>
                    <th width="10%">รหัส</th>
                    <th width="60%">รายการ</th>
                    <th width="30%">Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="d in diags">
                    <td>
                      <i class="icon icon--m icon--grey icon--flat mdi mdi-chevron-right"></i>
                    </td>
                    <td width="10%">{{ d.diag_code }}</td>
                    <td width="60%">{{ d.diag_name }}</td>
                    <td width="30%">{{ d.diag_type }}</td>
                  </tr>
                </tbody>
              </table>
            </lx-tab>
            <lx-tab heading="หัตถการ">
              <table class="data-table">
                <thead>
                  <tr class="data-table__selectable-row">
                    <th></th>
                    <th width="10%">รหัส</th>
                    <th width="60%">รายการ</th>
                    <th width="30%">ราคา</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="p in proced">
                    <td>
                      <i class="icon icon--m icon--grey icon--flat mdi mdi-chevron-right"></i>
                    </td>
                    <td width="10%">{{ p.proced_code }}</td>
                    <td width="60%">{{ p.proced_name }}</td>
                    <td width="30%">{{ p.price | number }}</td>
                  </tr>
                </tbody>
              </table>
            </lx-tab>
            <lx-tab heading="เวชภัณฑ์">
              <table class="data-table">
                <thead>
                  <tr class="data-table__selectable-row">
                    <th></th>
                    <!-- <th width="20%">รหัส</th> -->
                    <th width="40%">รายการ</th>
                    <th width="10%">หน่วย</th>
                    <th width="10%">ราคา</th>
                    <th width="10%">จำนวน</th>
                    <th width="30%">วิธีใช้</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="d in drug">
                    <td>
                      <i class="icon icon--m icon--grey icon--flat mdi mdi-chevron-right"></i>
                    </td>
                    <!-- <td width="20%">{{ d.stdcode }}</td> -->
                    <td width="40%">{{ d.drug_name }}</td>
                    <td width="10%">{{ d.unit }}</td>
                    <td width="10%">{{ d.price | number }}</td>
                    <td width="10%">{{ d.qty | number }}</td>
                    <td width="30%">{{ d.usage_name }}</td>
                  </tr>
                </tbody>
              </table>
            </lx-tab>
            <lx-tab heading="Lab">
              <table class="data-table">
                <thead>
                  <tr class="data-table__selectable-row">
                    <th></th>
                    <!-- <th width="20%">รหัส</th> -->
                    <th width="60%">รายการ</th>
                    <th width="20%">ผล</th>
                    <th width="20%">หน่วย</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="lab.length == 0">
                    <td colspan="4"><span class="fs-subhead display-block tc-grey-500">ไม่พบรายการ</span></td>
                  </tr>
                  <tr ng-if="lab.length > 0" ng-repeat="l in lab">
                    <td>
                      <i class="icon icon--m icon--grey icon--flat mdi mdi-chevron-right"></i>
                    </td>
                    <td width="60%">{{ l.lname }}</td>
                    <td width="20%">{{ l.lresult }}</td>
                    <td width="20%">{{ l.lunit }}</td>
                  </tr>
                </tbody>
              </table>
            </lx-tab>
            <lx-tab heading="ค่าใช้จ่าย">
              <table class="data-table">
                <thead>
                  <tr class="data-table__selectable-row">
                    <th></th>
                    <!-- <th width="20%">รหัส</th> -->
                    <th width="60%">รายการ</th>
                    <th width="20%">จำนวน</th>
                    <th width="20%">ราคา</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="charge.length == 0">
                    <td colspan="4"><span class="fs-subhead display-block tc-grey-500">ไม่พบรายการ</span></td>
                  </tr>
                  <tr ng-if="charge.length > 0" ng-repeat="c in charge">
                    <td>
                      <i class="icon icon--m icon--grey icon--flat mdi mdi-chevron-right"></i>
                    </td>
                    <td width="60%">{{ c.charge_name }}</td>
                    <td width="20%">{{ c.qty | number }}</td>
                    <td width="20%">{{ c.price | number }}</td>
                  </tr>
                </tbody>
              </table>
            </lx-tab>
          </lx-tabs>
          <!-- end tabs -->
        </div>
      </div>

    </div>
  </div>

</div>

<br>
