<div flex-container="row">
  <!-- <div flex-item> -->
    <div id="progress"></div>
  <!-- </div> -->
</div>

<div class="card p+">
  <i class="icon icon--l icon--green icon--flat mdi mdi-google-circles-group"></i>
  <span class="fs-headline tc-grey-500">ส่งออกข้อมูล (Export data)</span>
  <br>
  <div flex-container="row" flex-gutter="8">
    <div flex-item="3">
      <lx-date-picker model="startDate" label="ตั้งแต่" fixed-label="true" icon="calendar" locale="th"></lx-date-picker>
    </div>
    <div flex-item="3">
      <lx-date-picker model="endDate" label="ถึง" fixed-label="true" icon="calendar" locale="th"></lx-date-picker>
    </div>
    <div flex-item="2">
      <button ng-disabled="!isSuccess" class="btn btn--l btn--raised btn--blue" lx-ripple ng-click="doExport()">
        ส่งออกข้อมูล
      </button>
    </div>
  </div>
</div>
<div class="padding-bottom-8"></div>
<div flex-container="row", flex-gutter="8">

  <div flex-item="6">
    <div class="card p+">
      <div class="data-table-container">
        <header class="data-table-header">
          <div class="data-table-header__label">
            <span class="fs-title"> สถานะส่งออก </span>
          </div>
          <div class="data-table-header__actions">

          </div>
        </header>

        <table class="data-table">
          <thead>
          <tr class="data-table__selectable-row">
            <th></th>
            <th width="70%">ชื่อไฟล์</th>
            <th width="30%" style="text-align: right">จำนวนเรคคอร์ด</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-if="files.length == 0 || !files"><td colspan="4"><p class="p+">ไม่พบรายการ</p></td></tr>
          <tr ng-if="files.length > 0" ng-repeat="file in files">
            <td>
              <i ng-if="!file.success" class="icon icon--s icon--grey icon--flat mdi mdi-minus"></i>
              <i ng-if="file.success" class="icon icon--s icon--green icon--flat mdi mdi-check"></i>
            </td>
            <td width="70%">{{file.name}}</td>
            <!--<td>{{item.cid}}</td>-->
            <td width="30%" style="text-align: right">{{file.total | number}} / {{file.current | number}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div flex-item="6">
    <!-- send history -->
    <div class="card p+">
      <div class="data-table-container">
        <header class="data-table-header">
          <div class="data-table-header__label">
            <span class="fs-title"> ไฟล์ที่รอส่ง </span>
          </div>
          <div class="data-table-header__actions">
            <!-- <button class="btn btn--l btn--grey btn--icon" lx-ripple>
              <i class="mdi mdi-help-circle"></i>
            </button> -->
          </div>
        </header>

        <table class="data-table">
          <thead>
          <tr class="data-table__selectable-row">
            <th></th>
            <th width="70%">ชื่อไฟล์</th>
            <th width="30%">ส่ง</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-if="waitingFiles.length == 0 || !waitingFiles"><td colspan="4"><p class="p+">ไม่พบรายการ</p></td></tr>
          <tr ng-if="waitingFiles.length > 0" ng-repeat="f in waitingFiles">
            <td>
              <i class="icon icon--m icon--grey icon--flat mdi mdi-file"></i>
            </td>
            <td width="70%">{{f.name}}</td>
            <td width="30%">
              <button class="btn btn--m btn--grey btn--icon" lx-ripple ng-click="removeZipFile(f.path, $index)">
                <i class="icon icon--m icon--flat mdi mdi-close-circle"></i>
              </button>
              <button class="btn btn--m btn--green btn--icon" lx-ripple ng-click="upload(f.path, $index)">
                <i class="icon icon--m icon--flat mdi mdi-arrow-up-bold-circle"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>
