<div class="card p+">

  <div flex-container="row">
    <div id="progress"></div>
  </div>

  <i class="icon icon--m icon--grey icon--flat mdi mdi-beaker-outline"></i> &nbsp;
  <span class="fs-title tc-grey-500">สั่ง Lab Online</span>
  <div class="divider divider--dark"></div>

  <div class="data-table-container">
    <header class="data-table-header">
      <div class="data-table-header__label">
        <div flex-container="row" flex-gutter="24">
          <div flex-item="5">
            <lx-text-field label="ค้นหา" fixed-label="true" icon="magnify">
              <input type="text" ng-model="query" placeholder="ค้นหา...">
            </lx-text-field>
          </div>
          <div flex-item="5">
            <button class="btn btn--l btn--blue btn--raised" lx-ripple ng-click="showSearchLab()">
              สั่งออนไลน์
            </button>
            <button class="btn btn--l btn--green btn--raised" lx-ripple>
              รีเฟรช
            </button>
          </div>
        </div>
      </div>
      <div class="data-table-header__actions" style="width: 300px;">
        <div flex-container="row" flex-gutter="12">
          <div flex-item="10">
            <lx-date-picker model="orderDate" label="วันที่สั่ง Lab" fixed-label="true" icon="calendar" locale="th"></lx-date-picker>
          </div>
          <div flex-item="2">
            <button class="btn btn--l btn--icon btn--grey" ng-click="getList()">
              <i class="mdi mdi-magnify"></i>
            </button>
          </div>
        </div>
      </div>
    </header>

    <table class="data-table">
      <thead>
      <tr class="data-table__selectable-row">
        <th></th>
        <th width="10%">เลขที่</th>
        <th width="10%">วันที่ส่ง</th>
        <th width="10%">HN</th>
        <th width="20%">ชื่อ-สกุล</th>
        <th width="20%">ใบ Lab</th>
        <th width="35%">สถานะ</th>
        <th width="35%">วันที่รายงาน</th>
        <th width="5%" style="text-align: center;">#</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-if="orders.length == 0 || !orders">
        <td colspan="7"><p class="p+">ไม่พบรายการ</p></td>
      </tr>
      <tr ng-if="orders.length > 0" ng-repeat="item in orders | filter: query">
        <td>
          <i ng-if="$index % 2 == 0" class="icon icon--m icon--green icon--flat mdi mdi-account-circle"></i>
          <i ng-if="$index % 2 != 0" class="icon icon--m icon--grey icon--flat mdi mdi-account-circle"></i>
        </td>

        <td width="10%">{{item.vstdate | toThaiDate}}</td>
        <!--<td>{{item.cid}}</td>-->
        <td width="10%">{{item.hn}}</td>
        <td width="20%">{{item.pname + item.fname}} {{ item.lname }} </td>
        <td width="20%">{{item.pttype_name | toShortString: 40}}</td>
        <td width="35%">{{item.main_pdx}} - {{item.pdx_name | toShortString: 50 }}</td>
        <td width="35%">{{item.main_pdx}} - {{item.pdx_name | toShortString: 50 }}</td>
        <td width="5%" style="text-align: center;">
          <lx-dropdown position="right" from-top>
            <button class="btn btn--l btn--grey btn--icon" lx-ripple lx-dropdown-toggle>
              <i class="mdi mdi-dots-vertical"></i>
            </button>
            <lx-dropdown-menu>
              <ul>
                <li>
                  <a href="#/emr/{{ item.cid }}/{{ item.hn }}" class="dropdown-link">
                    <i class="mdi mdi-clipboard-account"></i>
                    ดูข้อมูล
                  </a>
                </li>
                <li>
                  <a href="#" class="dropdown-link">
                    <i class="mdi mdi-beaker-outline"></i>
                    บันทึกผลลง HOSxP
                  </a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                  <a href="#" class="dropdown-link">
                    <i class="mdi mdi-comment-processing-outline"></i>
                    ยกเลิกรายการ
                  </a>
                </li>
              </ul>
            </lx-dropdown-menu>
          </lx-dropdown>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<lx-dialog id="mdlSearchLab" class="dialog dialog--l" auto-close="false">
  <div class="dialog__header">
    <div class="toolbar bgc-indigo-500 pl++">
      <span class="toolbar__label tc-white fs-title">
        เลือกรายการ
      </span>
      <div class="toolbar__right">
        <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close>
          <i class="mdi mdi-close"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="dialog__content">
    <p class="p+">Hello</p>
  </div>
</lx-dialog>
